.Kasturighar {
    text-align: center;
    background-color: #9a7b4f;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
    /*This is mostly intended for prototyping;
    please download the pattern and re-host for production environments. Thank you ! */
    color: #efefef;
}

.Kasturighar-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Kasturighar-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.Kasturighar-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Kasturighar-link {
    color: #61dafb;
}

@keyframes Kasturighar-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

section {
    padding: 2rem;
}

.testimonial-container, .product-card {
    box-shadow: 0px 10px 5px #60713c;
}

.h2-kasturighar {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}

#contactUs h2 {
    font-family: "Dancing Script";
}

#navbar-kasturighar {
    background-color: #65350F;
    height: 70px;
}

.navbar-brand-kasturighar {
    font-weight: bold;
    color: #efefef;
    font-family: "Dancing Script";
    font-size: larger;
}

.nav-link-kasturighar {
    margin: 0 1.5rem;
    color: #efefef;
}

.navbar-toggler-icon-kasturighar {
    color: #efefef;
    transform: rotate(-90deg);
}

/*--------------------Sections-----------------*/

#header-kasturighar {
    height: 100vh;
    text-align: center;
    padding: 2rem;
}



#about-kasturighar {
    background-color: #65350F;
    padding: 5rem 1rem;
    text-align: center;
    line-height: 2;
}

/*------------------Class Selectors------------*/

.carousel-photo {
    width: 60%;
    height: 80%;
    margin: auto;
    border: 2px solid #65350F;
    padding: .1rem;
    box-shadow: 5px 5px 20px #65350F;
}


#header-carousel {
    padding: 3rem 0;
}

.carousel-inner {
    height: 90vh;
}

.carousel-item {
    height: 90vh;
}

.carousel-photo {
    height: 70vh;
}


/*------------------ABout US--------------------*/
#collage-container {
    width: 30vw;
    ;
    float: left;
}

#about-text {
    padding: 10px 10px;
    line-height: 1.5;
}

/*------------------Products--------------------*/
.product-card {
    height: 30rem;
    margin: 2rem auto 5rem auto;
    padding-top: 1rem;
    text-align: center;
    background-color: #65350F;
}

.product-card:hover {
    padding: 1rem 2rem;
}

.product-img {
    width: 80%;
    height: 50%;
    border-radius: 100%;
    margin: auto;
}

.card-body {
    text-align: left;
}

.price {
    font-weight: bold;
}

/*------------------Testimonials--------------------*/
.testimonial-container {
    background-color: #65350F;
    width: 75%;
    margin: auto;
    padding: 3rem 2rem;
}

.about-photo {
    border-radius: 100%;
    height: 110%;
}

.testimonial-photo {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}



/*------------------Contact--------------------*/
.icon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: auto;
}

.icon-container-kasturighar {
    cursor: pointer;
    box-shadow: 1px 5px 10px #60713c;
    background-color: #65350F;
    width: 80%;
    text-align: center;
}

#contactUs a {
    color: #efefef;
    text-decoration: none;
}

/*------------------Footer--------------------*/
footer {
    background-color: #65350F;
    padding: 1rem 5rem;
    text-align: center;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    color: #000;
    margin: auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.emailAddress, .phoneNumber {
    margin: auto;
}


@media only screen and (max-width: 600px) {
    .carousel-photo {
        width: 90%;
        height: 70%;
    }

    .icon-container-kasturighar {
        width: 40%;
        margin: auto;
    }

    .testimonial-container {
        width: 100%;
    }
}