/*////////////////////////////bootstrap formats//////////////////////*/
.text-primary{
  color: #003893;
}

.btn-primary{
  background-color: #003893;
  color: #efefef;
}

.jumbotron{
  margin-top: 5%;
}


/*////////////////////////////end of bootstrap formats//////////////////////*/


/*////////////////////////////Header//////////////////////*/
.navbar{
  background: #003893;
}

.nav-link, .navbar-brand{
  color: #efefef;
  cursor: pointer;
}

.nav-link{
  margin-right: 1em !important;
}

.nav-link:hover{
  background:#efefef;
  color: #003893;
}

.navbar-collapse{
  justify-content: flex-end;
}

.fa{
  color: #888;
}

section{
  box-shadow: 0 0 20px #ccc;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header{
  height: 100vh;
  background-image: url("./images/backgroundHome.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left:0;
  top:10;
  background: rgba(244, 244, 244, 0.79);
}

.description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
  width: 95vw;
}
.description h1{
  color: #003893;
}
.description p{
  color: #666;
  font-size: 2em;
  line-height: 1.5;
}

.seemore{
  border: 1px solid #003893;
  background: #003893;
  color: #efefef;
}
.icon-box{
  position: absolute;
  bottom: 0;
  right: 0;
  
}
.icon-container{
  width: 50px;
  height: 50px;
}
.icon-container, .contact-item{
  cursor: pointer;
}
.icon-container:hover{
  width: 80px;
  height: 80px;
}
.icon{
  max-height: 100%;
  max-width: 100%;
}
/*////////////////////////////End of Header//////////////////////*/


/*////////////////////////////About//////////////////////*/

.about{
  margin: 4em 0;
  padding: 1.5em;
  position: relative;
}

.about h1{
  color: #003893;
  margin: 1em;
}

.about img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.img-container{
  height: 20em;
}

.about span{
  display: block;
  color: #888;
}

.about .desc{
  padding: 2em;
  border-left: 4px solid #10828c;
}
.about .desc h3, h1, h2{
  color: #10828c;
}

.about .desc p{
  line-height: 2;
  color: #888;
}

/*////////////////////////////End of About//////////////////////*/

/*////////////////////////////Projects//////////////////////*/
 
.portfolio{
  margin: 4em 0;
  position: relative;
}

.card-portfolio{
  width: 35em;
  padding: 0.5em;
  box-shadow: 0 0 20px #ccc;
}

.card-img-top{
  height: 20em;
  max-height: 20em;
  width: 95%;
  max-width: 100%;
  margin: 1em;
  opacity: 0.8;
  padding: 1em;
}
/*////////////////////////////End of Projects//////////////////////*/

/*////////////////////////////Contact//////////////////////*/

.contact{
  margin: 4em 0;
  position: relative;
}

.contact h2, .portfolio h2{
  color: #10828c;
  margin: 2em;
  
}

.contact-item{
  width: 10em;
  padding: 1em;
  margin: auto;
  box-shadow: 10px 10px 20px #ccc;
  text-decoration: none;
  color: #10828c;
}



/*////////////////////////////End of Contact//////////////////////*/

/*////////////////////////////Apps//////////////////////*/
.drum {
  border-radius: 100%;
  outline: none;
  border: 10px solid #DBEDF3;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: white;
}

.w {
  background-image: url("./images/tom1.png");
}

.a {
  background-image: url("./images/tom2.png");

}

.s {
  background-image: url("./images/tom3.png");

}

.d {
  background-image: url("./images/tom4.png");

}

.j {
  background-image: url("./images/snare.png");

}

.k {
  background-image: url("./images/kick.png");

}

.l {
  background-image: url("./images/crash.png");

}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.bmiForm input[type="number"]{
  margin: 10px;
}

.diceImage{
  height: 150px;
}

.result, .playerName{
  font-size: 3rem;
  color: #10828c;
}
/*////////////////////////////End of Apps//////////////////////*/


